.title {
  background-color: #F5F5F2;

  .title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title_main {
      width: 50%;
      margin: 0 auto;
      
      h1 {
        font-size: 56px;
        line-height: 68px;
      }
  
      p {
        font-size: 20px;
        line-height: 30px;
        color: #65665C;
      }
    }
  }

}